.list img {
    width: 100px;
    height: 100px;
}

.list .price {
    color: #DD2727;
    font-size: 16px;
}

.list .quantity {
    text-align: right;
}

.list .md-list-item-text {
    padding-left: 10px;
}

.nolist {
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px
}

.list .edit {
    text-align: right;
    margin-right: 20px;
    font-size: 16px;
    padding-top: 10px;
}