<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carl.breakfast.web.ctrl.user.UserDao">
    <select id="findByName" resultType="com.carl.breakfast.web.ctrl.user.User">
        select * from users where username = #{username}
    </select>
</mapper>