#s-decision-wrapper {
    font-size: 13px;
    padding: .6px;
    width: 100%;
    height:100%;
}

#s-decision-wrapper .summary {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    -webkitbox-shadow: 0 1px 0 rgba(0,0,0,.05),0 .5px 0 rgba(0,0,0,.09);
    box-shadow: 0 1px 0 rgba(0,0,0,.05),0 .5px 0 rgba(0,0,0,.09);
    padding: .1px .1px 10px;
}

#s-decision-wrapper .summary .img {
    position: relative;
    background-color: #fff;
    z-index: 10;
    padding: 2px;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    margin-right: 1em;
    height: 105px;
    width: 105px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}
#s-decision-wrapper .summary .main .priceContainer>span:first-child {
    color: #DD2727;
}
#s-decision-wrapper .summary .main .priceContainer .price {
    padding: 0 .1px 0 0;
}
#s-decision-wrapper .option {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    width: 100%;
}
#s-decision-wrapper .option {
    position: absolute;
    bottom: 0;
    left: 0;
}
.mui-flex, .mui-flex *, .mui-flex:after, .mui-flex:before {
    box-sizing: border-box;
}
.mui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#s-decision-wrapper .option .ok {
    background: #DD2727;
}
#s-decision-wrapper .option .cell {
    height: 35px;
    border: none;
    font-size: 15px;
    color: #fff;
}
.mui-flex>.cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0!important;
    position: relative;
}
#s-decision-wrapper h2 {
    color: #666;
    margin-bottom: .5em;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

#s-decision-wrapper .number .content {
    /*overflow: hidden;*/
}
#s-decision-wrapper .number .number-control {
    float: left;
}
.mui-number {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: 0;
    line-height: 45px;
    height: 45px;
    overflow: hidden;
}

.mui-number .decrease.disabled, .mui-number .increase.disabled {
    color: #cfcfcf;
}

.mui-number .decrease.disabled, .mui-number .increase.disabled {
    color: #cfcfcf;
}
.mui-number .decrease {
    border-right: 1px solid #b3b3b3;
}
.mui-number .decrease, .mui-number .increase {
    font-style: normal;
    /*font-size: 18px;*/
    font-weight: 700;
    border: none;
    display: inline-block;
    width: 50px;
    height: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #fff;
    color: #5f646e;
}

.mui-number .num {
    min-width: 55px;
    max-width: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 700;
    color: #3d4245;
    height: 45px;
}
.mui-number .decrease, .mui-number .increase, .mui-number .num {
    float: left;
    text-align: center;
}
.mui-number .decrease {
    border-right: 1px solid #b3b3b3;
}
.mui-number .increase {
    border-left: 1px solid #b3b3b3;
}